DATABASE_URL=postgresql://postgres:postgres@localhost:5432/army_builder

# Generate a secret key with:
# python -c "import secrets; print(secrets.token_hex(32))"
JWT_SECRET_KEY=your_secret_key_here

SEED_ADMIN_USERNAME=superadmin
SEED_ADMIN_PASSWORD=superpassword
SEED_ADMIN_EMAIL=superadmin@armybuilder.gr